@model List<GymBooster.Core.Entities.Training>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GB TEST</h1>
    <p class="lead">Poniżej powinien być widoczny predefiniowany trening.</p>
</div>

<div>
    <p>Treningi</p>
    @{
        var i = 0;
        foreach (var training in Model)
        {
            ++i;
            <p>@i.</p>
            <p>Start time: @training.StartTime</p>
            <p>End time: @training.EndTime</p>
            <p>Exercises:</p>
            foreach (var exercise in training.Exercises)
            {
                <p>Type: @exercise.Type.Name</p>
                <table>
                    Series
                    <tr>
                        <th>Start Time</th>
                        <th>End time</th>
                        <th>No of repos</th>
                        <th>Weight [kg]</th>
                    </tr>
                    @foreach (var serie in exercise.Series)
                    {
                        <tr>
                            <td>@serie.StartTime</td>
                            <td>@serie.EndTime</td>
                            <td>@serie.NumberOfReps</td>
                            <td>@serie.WeightInKilos</td>
                        </tr>
                    }
                </table>
            }
        }
    }
</div>